"*":
  "bracket-matcher":
    autocompleteCharacters: [
      "()"
      "[]"
      "{}"
      "\"\""
      "“”"
      "«»"
      "‹›"
    ]
    highlightMatchingLineNumber: true
  core:
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "city-lights-syntax"
    ]
    titleBar: "custom"
  editor:
    autoIndentOnPaste: false
    showIndentGuide: true
  "exception-reporting":
    userId: "78b6fce7-b9d1-422e-b3f0-cabc31b687d1"
  firacode: {}
  "highlight-selected":
    allowedCharactersToSelect: "$@%_"
  "linter-ui-default": {}
  "lisp-paredit":
    enabled: false
    strict: false
  "markdown-preview":
    useGitHubStyle: true
  "one-dark-ui":
    stickyHeaders: true
  "proto-repl":
    autoPrettyPrint: true
    leinPath: "/usr/local/bin/lein"
  "tool-bar":
    visible: false
  "tree-view": {}
  welcome:
    showOnStartup: false
".clojure.source":
  editor:
    tabType: "soft"
