{:mvn/repos {"sonatype" {:url "https://oss.sonatype.org/content/repositories/snapshots/"}}
 :aliases
 {;; project creation from templates:
  ;; - create an application project: clj -X:new :template app :name myname/myapp
  ;; - create a library project:      clj -X:new :name myname/my-cool-lib
  :new         {:extra-deps {seancorfield/clj-new {:mvn/version "RELEASE"}}
                :exec-fn    clj-new/create
                :exec-args  {:template lib}
                :main-opts  ["-m" "clj-new.create"]}
  :depstar     {:extra-deps {seancorfield/depstar {:mvn/version "1.1.133"}}
                :ns-default hf.depstar
                :exec-args  {}}
  :uberjar     {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
                :main-opts  ["-m" "hf.depstar.uberjar"]}
  :jar         {:extra-deps {seancorfield/depstar {:mvn/version "RELEASE"}}
                :main-opts  ["-m" "hf.depstar.jar"]}

  ;; jar installation and deployment:
  ;; - these rely on having a pom.xml file and, for deployment, the environment variables: CLOJARS_USERNAME, CLOJARS_PASSWORD
  :install     {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                :main-opts  ["-m" "deps-deploy.deps-deploy" "install"]}
  :deploy      {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy"]}

  ;; testing and debugging tools:
  :test        {:extra-paths ["test"]
                :extra-deps  {org.clojure/test.check    {:mvn/version "1.0.0"}
                              com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                         :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                :main-opts   ["-m" "cognitect.test-runner"]}
  :tests       {:extra-paths ["test"]
                :extra-deps  {org.clojure/test.check    {:mvn/version "1.0.0"}
                              com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner"
                                                         :sha     "b6b3193fcc42659d7e46ecd1884a228993441182"}}
                :main-opts   ["-m" "cognitect.test-runner"]}

  ;; - see https://github.com/jonase/eastwood#running-eastwood-in-a-repl
  :eastwood    {:extra-deps {jonase/eastwood {:mvn/version "RELEASE"}}
                :main-opts  ["-m" "eastwood.lint" "{:source-paths,[\"src\"],:test-paths,[\"test\"]}"]}

  ;; - see https://github.com/athos/clj-check
  :check       {:extra-deps {athos/clj-check {:git/url "https://github.com/athos/clj-check"
                                              :sha     "cd1f25456de5eebda0a69602dd3445905382b3a4"}}
                :main-opts  ["-m" "clj-check.check"]}

  ;; - see https://github.com/Olical/depot
  :outdated    {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                :main-opts  ["-m" "depot.outdated.main"]}
  :depot       {:extra-deps {olical/depot {:mvn/version "1.8.4"}}
                :main-opts  ["-m" "depot.outdated.main"]}

  ;; REPL-related tools:
  ;; - start a modern nREPL server on a random available port:
  :nrepl       {:extra-deps {nrepl/nrepl {:mvn/version "RELEASE"}}
                :main-opts  ["-m" "nrepl.cmdline"]}

  ;; pull in specific versions of Clojure:
  :1.10        {:override-deps {org.clojure/clojure {:mvn/version "1.10.0"}}}
  :1.10.1      {:override-deps {org.clojure/clojure {:mvn/version "1.10.1"}}}
  :1.10.2      {:override-deps {org.clojure/clojure {:mvn/version "1.10.2-alpha2"}}}
  :master      {:override-deps {org.clojure/clojure {:mvn/version "1.10.2-master-SNAPSHOT"}}}

  :graph       {:deps      {org.clojure/tools.deps.graph {:mvn/version "1.0.46"}}
                :main-opts ["-m" "clojure.tools.deps.graph"]}}}
